---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Birdie | Blog";
---

<BaseLayout pageTitle={pageTitle}>
<h3>En este blog hablamos de tecnología y herramientas para los usuarios.</h3>
<!-- <Greeting client:load messages={["Hola a todos", "Ciao a tuti", "Hello everyone", "Bonjour à tous" ]}/> -->
</BaseLayout>

